.env

*~
*.swp
./.bundle
./db/*.sqlite3
./db/*.sqlite3-journal
./log/*
!/log/.keep
./tmp
coverage
.byebug_history
public/coverage
public/uploads
./public/sitemap.xml.gz
./.env
./.env.test
db/schema.rb
.idea
node_modules
dist
.tmp
bower_components
test/bower_components
tags

/.gitlab-ci.yml
/.rubocop.yml
/erd.pdf
/devops
/docker-stack.yml
/public/system
/compose

./vendor/bundle
./devops/
./.git/
./compose/
