
<div class="main-content">
    <!------------------------------------------------------------
    Guides
    ------------------------------------------------------->
    <div class="start-content no-padding">
        <div class="guides">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="sticky-list">
                        <div class="list-group">
                            <h1 class="big-title">Guides</h1>
                            <div class="list-group-section">
                                <h2 class="list-group-item"><a href="#">Campagin</a> <i class="fa fa-long-arrow-down"></i></h2>
                                <a href="#1" class="list-group-item active">Create Campagin</a>
                                <a href="#1" class="list-group-item">Cupons</a>
                                <a href="#1" class="list-group-item">TimeFrame</a>
                                <a href="#1" class="list-group-item">Social Profile</a>
                                <h2 class="list-group-item"><a href="#">My brand</a> <i class="fa fa-long-arrow-down"></i></h2>
                                <a href="#1" class="list-group-item">Shops</a>
                                <a href="#1" class="list-group-item">Thame</a>
                                <a href="#1" class="list-group-item">Staff</a>
                                <h2 class="list-group-item"><a href="#">Point Manager</a> <i class="fa fa-long-arrow-down"></i></h2>
                                <a href="#1" class="list-group-item">Scan Points</a>
                                <a href="#1" class="list-group-item">Buy Products</a>
                                <a href="#1" class="list-group-item">Redeem Points</a>
                                <a href="#1" class="list-group-item">Becons Point</a>
                                <h2 class="list-group-item"><a href="#">Products</a> <i class="fa fa-long-arrow-down"></i></h2>
                                <h2 class="list-group-item"><a href="#">Cmapign</a> <i class="fa fa-long-arrow-down"></i></h2>
                                <h2 class="list-group-item"><a href="#">Becons</a> <i class="fa fa-long-arrow-down"></i></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" id="2">New Campaign Setup Guide</h4>
                            <div class="player">
                                <video poster="/dashboard/images/video-cover.png" id="guide-video">
                                    <source src="/" type="video/mp4">
                                    <source src="/" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                                <a href="#" class="play-btn">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <div class="circle-number">1</div>
                            <h4 class="card-title" id="1">Create new campaign</h4>
                            <p>You can create a new campaign at any moment by using the top navigation bar and click the Campaigns menu link.
                            Once on the campaign list page use the "Add new campaign" button in the top right section.</p>
                            <img src="/dashboard/images/guides-1.png" alt="" class="img-responsive">
                            <div class="circle-number">2</div>
                            <h4 class="card-title" id="3">General campaign information</h4>
                            <p>On the first campaign creation tab you can define the general info that applies to your campaign. The most important
                                fields here are "Start Time", "End Time" and "Timeframes". The first two define the overall date/time interval in which your
                                campaign will be active. At any time you can edit a campaign and increase/decrease these date values according to
                            your needs.</p>
                            <img src="/dashboard/images/guides-1.png" alt="" class="img-responsive">
                        </div>
                        <div class="feed-back">
                            <p>Was this information helpful?</p>
                            <div class="checkboxs">
                                <div class="pretty p-default p-curve">
                                    <input type="radio" name="color">
                                    <div class="state p-info-o">
                                        <label>Yes</label>
                                    </div>
                                </div>
                                <div class="pretty p-default p-curve">
                                    <input type="radio" name="color">
                                    <div class="state p-info-o">
                                        <label>No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

