<div class="page-title-bar">
  <div class="row">
      <div class="col-sm-12">
        <h1>The Product you were looking for doesn't exist.</h1>
         <p>You may have mistyped the barcode.</p>
         <%= link_to admin_products_path,class: "edit" do %>
            Return To Products Page
         <% end %>
      </div>
  </div>
</div>
