.big-icon {
  font-size: 18px;
}

.green-text {
  font-weight: bold;
  color: green;
}

.red-text {
  font-weight: bold;
  color: red;
}

#pac-input {
  position: relative;
  top: 48px;
  z-index: 9;
  margin-left: 400px;
  width: 400px;
}

#map {
  height: 1000px;
}

.vip {
  font-weight: bold;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px blue, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

.glow {
  font-size: 15px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.print-table th {
   text-align: center;   
}

.print-table td {
   text-align: center;   
}

.hidden-btn {
  display: none;
}
