<div class="modal fade createShop" id="createShop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/dashboard/images/x.png" alt=""> Close</span></button>
            </div>
            <div class="modal-body">
                <div class="modal-custom-content">
                    <h2>You established the first your own shop,Congrats.
                    </h2>
                    <p>Now you can adjust the shape of workshops devised to communicate with staff, you can also upload and modification start discovery
                    </p>
                </div>

                <a href="<%= admin_shop360_sections_path(shop.shop360.id) %>" class="btn-item"><img src="/dashboard/images/popups/icon-2.png" alt="">Panoramas</a>
            </div>
        </div>
    </div>
</div>
