<div class="modal fade createBrand" id="createBrand" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/dashboard/images/x.png" alt=""> Close</span></button>
            </div>
            <div class="modal-body">
                <div class="modal-custom-content">
                    <h2>Done,we've created the first brand</h2>
                    <p>Now prefers to go Ely create
                        your Web page design and
                        choice of colors and other
                    dazzling details!</p>
                </div>

            </div>
        </div>
    </div>
</div>
