<div class="modal fade createTheme" id="createTheme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/dashboard/images/x.png" alt=""> Close</span></button>
            </div>
            <div class="modal-body">
                <div class="modal-custom-content">
                    <h2>Done,You now you design your brand!
                    </h2>
                    <p>Now go to assign people and determine their suitability for example so they can add products devised in
                    </p>
                </div>
                <a href="#" class="btn-item"><img src="/dashboard/images/popups/icon-3.png" alt=""> Veiw staff</a>
            </div>
        </div>
    </div>
</div>
