<div class="modal fade modalStyle2" id="stopItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Stop Beacon</h4>
            </div>
            <div class="modal-body">
                <h2>Will it stop other tasks <span><a href="#">Summer Campagin</a></span></h2>
                <p>Are you sure you want to permanently stop this beacon ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>