<div class="modal fade createProduct" id="createProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/dashboard/images/x.png" alt=""> Close</span></button>
            </div>
            <div class="modal-body">
                <div class="modal-custom-content">
                    <h2>Done,You add the first product to your customers</h2>
                    <p>You enjoy stronger loyalty systems worldwide, add some Gifts for your customers
                    </p>
                </div>
                <!--
                <a href="#" class="btn-item"><img src="/dashboard/images/popups/icon-2.png" alt=""> Point Manager</a>
                -->   
            </div>
        </div>
    </div>
</div>
